@using Microsoft.Extensions.Configuration
@inject IConfiguration Config

@{
    ViewData["Title"] = "Wisdom";
}


<div class="text-center">
    <h1 class="display-4">John says...</h1>
    <p>credit to https://icanhazdadjoke.com</a>.</p>
</div>

<h2 class="jumbotron font-weight-bold" style="background-color:@Config["FavoriteColor"]" id="joke"></h2>

<img class="img-fluid" src="test" alt="catpic" id="catpic" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: 'GET',
            url: 'https://icanhazdadjoke.com',
            dataType: 'json',
            success: function (msg) {
                $('#joke').html(msg.joke);

            },
            error: function (request, status, error) {
                $('#joke').html("Sorry, no joke.");
            }
        });

        $.ajax({
            type: 'GET',
            url: 'https://api.thecatapi.com/v1/images/search',
            dataType: 'json',
            success: function (rc) {
                $('#catpic')[0].src = rc[0].url;
            }
        })
    });
</script>
